<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>KnowYourEMI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>EMIServlet</servlet-name>
  <servlet-class>com.ramanuj.emi.view.EMIServlet</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>ExcelServlet</servlet-name>
  <servlet-class>com.ramanuj.emi.excel.ExcelServlet</servlet-class>
  </servlet>
  
 <servlet-mapping>
<servlet-name>EMIServlet</servlet-name>
<url-pattern>/EMI</url-pattern>
</servlet-mapping>

 
  <servlet-mapping>
<servlet-name>ExcelServlet</servlet-name>
<url-pattern>/EMIEXCEL</url-pattern>
</servlet-mapping>
 
 
</web-app>